body {
    .app {
        border: 1px solid #111111;
        border-radius: 4px;
        margin-top: 20px;
        padding: 16px;

        &__first-test {
            font-size: 5rem;

            &--red {
                color: red;
            }

            &--white {
                color: gray;
            }
        }
    }
}