.gallery {
    position: relative;
    text-align: center;
    height: auto;
    padding-bottom: 10rem;

    &__wrap-content {
        width: 100vw;
    }

    &__wrap-sort {
        position: relative;
        width: 33.333%;
        margin:0 auto 40px;

        &:after {
            content: "";
            position: absolute;
            display: block;
            right: 10px;
            top: 16px;
            width: 0;
            height: 0;
            margin: auto;
            border-style: solid;
            border-color: $flesh transparent transparent;
            border-width: 8px 8px 0;           
        }
    }

    &__sort {
        color: $flesh;
        border: none;
        font-size: 1.4rem;
        width: 100%;
        padding: 8px 16px;
        background-color: $textColor01;
        appearance: none;

    }

    &__wrap-items {
        display: block;
        margin: 0 auto;

        // li {
        //     height: 180px;
        //     width: 32%;
        //     margin-bottom: 24px;
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     background-position: center center;
        //     background-color: $brown;
        // }
    }


//  PHOTOSWIPE AREA    
    .my-gallery {
        width: 100%;

        figure {
            position: relative;
            display: block;
            float: left;
            width: 33.333%;
            height: 240px;
            margin: 0;
            background-color: $white;
            overflow: hidden;
            transition: all 0.3s ease;

            opacity: 0;
            animation: all, 320ms;
            transform: translateY(24px);
            
            &.reveal {
                transform: translateY(0);
                opacity: 1;
            }

            &:before {
                content: "";
                display: block;;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                background-color: black;
                opacity: 0.05;
                z-index: 1;;
                transition: all 0.3s ease;
            }

            &:hover {

                &:before {
                    opacity: 0;
                }

                a {
                    img {
                        height: 126%;
                    }
                }

            }

            a {
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: auto;
                    height: 130%;
                    transform: translate(-50%, -50%);
                    transition: height 0.3s ease;                    
                }
            }

        }
    }

    .my-gallery figcaption {
    display: none;
    }    

    // INFINITY LORDING MORE BUTTOM
    &__wrap-more {
        display: inline-block;
        margin-top: 40px;
        padding: 1rem 4rem;
    }

    &__more-btn {
        display: block;
        opacity: 0.8;
        transition: all 0.3s ease;

        &:hover,
        &:focus,
        &.loading {
            opacity: 1;
        }

        &:hover {
            .gallery__lading-icon:before {
                font-size: 4.5rem;
            }
        }
    }

    &__loading-icon {
        display: block;        

        &:before {
            content: "\f463";
            font-family: "dashicons";
            display: block;
            font-size: 4rem;
            margin: 1rem;
            transition: all 0.3s ease;
        }
    }

    .spin {
            animation-name: spin;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;    
    }
}


