.gallery {
    position: relative;
    text-align: center;
    height: auto;
    padding-bottom: 10rem;

    &__wrap-content {
        @include gs-l();
    }

    &__sort {
        margin-bottom: 40px;
    }

    &__wrap-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        width: 760px;
        margin: 0 auto;

        li {
            height: 180px;
            width: 32%;
            margin-bottom: 24px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: $brown;
        }
    }

    .my-gallery {
        width: 100%;
        float: left;
      }
      .my-gallery img {
        width: 100%;
        height: auto;
      }
      .my-gallery figure {
        display: block;
        float: left;
        margin: 0 5px 5px 0;
        width: 150px;
      }
      .my-gallery figcaption {
        display: none;
      }    
}
