// WORKS        

$bp-s: 760px;
$bp-m: 1260px;

.section-works {
    background: $brown;
    z-index: 100;

    &__front-content {
        position: relative;
        display: block;
        flex-direction: initial;        // position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;

        @include bp($bp-s) {
            display: flex;
            flex-direction: row-reverse;
        }
        
        #n2-ss-1-align {
            width: 90%;
            height: 32%;
            margin: 0 auto;

            @include bp($bp-s) {
                width: 50%;
                height: 100%;
            }
            
            >div {
                height: 100%;

                >div {
                    width: 100% !important;
                    height: inherit !important;

                    >div {
                        width: 100% !important;
                        height: inherit !important;
                        
                        #n2-ss-1-arrow-previous,
                        #n2-ss-1-arrow-next {
                            top: 50% !important;
                        }
                    }
                }
            }
        }

        .n2-ss-align {
            background-color: $white;
        }
    }

    &__text {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 90%;
        margin: 0 5%;
        height: 60%;

        @include bp($bp-s) {
            width: 50%;
            margin: 0;
            padding: 24vh 5vw 0;    
        }

        h2 {
            font-size: 18vw;
            margin: 7rem 0 4rem;
            
            
            @include bp($bp-s) {
                font-size: 12vw;
                margin: 7rem 0;
            }

            @include bp($bp-m) {
                font-size: 16rem;
                margin: 7rem 0 10rem;    
            }    
        }

        p {
            font-size: 1.6rem;
            line-height: 2;
            text-align: left;

            @include bp($bp-s) {
                font-size: 1.6vw;
            }          
            
            @include bp($bp-m) {
                font-size: 1.8rem;
            }
        }
    }

    &__bg-images {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        
        img {
            position: absolute;
            width: 70%;

            @include bp($bp-s) {
                width: 40%;
            }
        }
    }

    &__decoration-1 {
        top: 0;
        left: 0;
    }

    &__decoration-2 {
        bottom: 0;
        right: 0;
    }
}